@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --color-light: white;
    --color-dark: black;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin-top: 20px;
    text-align: center;
}

#central{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: row ;
}

.pokemonCard{
    width: auto;
    height: 40vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: red;
}

.pokemonCard__details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonCard__details--title{
    font-size: 24px;
    color: var(--color-dark);
}

.pokemonCard__details--pokemonId{
    margin-top: 10px;
    color: var(--color-dark);
}

.pokemonCard__details--image{
    height: 180px;
}

.pokemonCard__details--types{
    color: var(--color-dark);
}

.grass{
    background-color: green;
}

.poison{
    background-color: violet;
}

.fire{
    background-color: red;
}

.water{
    background-color: blue;
}

.bug{
    color: black;
    background-color: lightgreen;
}

.normal{
    color: black;
    background-color: lightgray;
}

.flying{
    color: black;
    background-color: silver;
}

.electric{
    color: black;
    background-color: yellow;
}

.ground{
    background-color: brown;
}

.psychic{
    background-color: purple;
}

.rock{
    background-color: lightslategray;
}

.steel{
    color: black;
    background-color: silver;
}

.ice{
    color: black;
    background-color: snow;
}