@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
    --color-light: white;
    --color-dark: black;
    /* --bg-fighting:;
    --bg-poison:;
    --bg-flying:;
    --bg-ground:; 
    --bg-rock:; 
    --bg-ghost:; 
    --bg-steel:; 
    --bg-dark:; 
    --bg-dragon:; 
    --bg-electric:;
    --bg-fairy:; 
    --bg-psychic:; 
    --bg-ice:; */
    --border-card: 6px solid;
    --bg-grass: lightgreen;
    --bg-fire: #f7a399;
    --bg-water: #0077b6;
    --bg-bug: #55a630;
    --bg-Normal: #5c6b73;
    --color-grass-strong: green;
    --color-fire-strong: #ef6351;
    --color-water-strong: #023e8a;
    --color-bug-strong: #007f5f;
    --color-normal-strong: #253237;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    margin-top: 20px;
    text-align: center;
}

#central{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: row ;
}

.pokemonCard{
    width: auto;
    height: 40vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 12px;
}

.pokemonCard__details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemonCard__details--title{
    text-transform: capitalize;
    font-size: 24px;
    color: var(--color-dark);
}

.pokemonCard__details--pokemonId{
    margin-top: 10px;
    color: var(--color-dark);
}

.pokemonCard__details--image{
    height: 180px;
}

.pokemonCard__details--types{
    color: var(--color-dark);
}

.type{
    padding: 4px 5px;
    margin: 0 6px;
}

.grass{
    background-color: var(--bg-grass);
    border: var(--border-card) var(--color-grass-strong);
}

.fire{
    background-color: var(--bg-fire);
    border: var(--border-card) var(--color-fire-strong);
}

.water{
    background-color: var(--bg-water);
    border: var(--border-card) var(--color-water-strong);
}

.bug{
    background-color: var(--bg-bug);
    border: var(--border-card) var(--color-bug-strong)
}

.normal{
    background-color: var(--bg-Normal);
    border: var(--border-card) var(--color-normal-strong);
}

.type.grass{
    background-color: var(--color-grass-strong);
    border: 0;
}

.type.poison{
    background-color: violet;
    border: 0;
}

.type.fire{
    background-color: var(--color-fire-strong);
    border: 0;
}

.type.water{
    background-color: blue;
    border: 0;
}

.type.bug{
    color: white;
    background-color: var(--color-bug-strong);
    border: 0;
}

.type.normal{
    color: white;
    background-color: var(--color-normal-strong);
    border: 0;
}

.type.flying{
    color: black;
    background-color: silver;
    border: 0;
}

.type.electric{
    color: black;
    background-color: yellow;
    border: 0;
}

.type.ground{
    background-color: brown;
    border: 0;
}

.type.psychic{
    background-color: purple;
    border: 0;
}

.type.rock{
    background-color: lightslategray;
    border: 0;
}

.type.steel{
    color: black;
    background-color: silver;
    border: 0;
}

.type.ice{
    color: black;
    background-color: snow;
    border: 0;
}