body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

:root{
    --color-light: white;
    --color-dark: black;
    /* --bg-fighting:;
    --bg-poison:;
    --bg-flying:;
    --bg-ground:; 
    --bg-rock:; 
    --bg-ghost:; 
    --bg-steel:; 
    --bg-dark:; 
    --bg-dragon:; 
    --bg-electric:;
    --bg-fairy:; 
    --bg-psychic:; 
    --bg-ice:; */
    --border-card: 6px solid;
    --bg-grass: lightgreen;
    --bg-fire: #f7a399;
    --bg-water: #0077b6;
    --bg-bug: #55a630;
    --bg-Normal: #5c6b73;
    --color-grass-strong: green;
    --color-fire-strong: #ef6351;
    --color-water-strong: #023e8a;
    --color-bug-strong: #007f5f;
    --color-normal-strong: #253237;
}

.pokedex{
    height: 90vh;
    width: 90vw;
    background-color: #f25c54;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 6px solid #641220;
    border-radius: 14px;
    margin: 5vh 5vw;
}

.pokedex__general, .pokedex__specify{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    border-right: 2px solid black;
}

.pokedex__general--image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36vh;
    width: 100%;
}

.general--image__img{
    height: 100%;
}


.pokedex__general--arrows{
    font-size: 60px;
    cursor: default;
}

.general__arrows--next:hover, .general__arrows--previously:hover{
    color: white;
    cursor: pointer;
}

.general__arrows--previously{
    transform: rotate(180deg);
}

#next, #previously{
    margin: 0 20px;
    font-size: 60px;
    background-color: transparent;
    border: 0;
}

.pokedex__specify--name{
    text-transform: capitalize;
}

#weight, #height{
    font-weight: 900;
}


.grass{
    background-color: var(--bg-grass);
    border: var(--border-card) var(--color-grass-strong);
}

.fire{
    background-color: var(--bg-fire);
    border: var(--border-card) var(--color-fire-strong);
}

.water{
    background-color: var(--bg-water);
    border: var(--border-card) var(--color-water-strong);
}

.bug{
    background-color: var(--bg-bug);
    border: var(--border-card) var(--color-bug-strong)
}

.normal{
    background-color: var(--bg-Normal);
    border: var(--border-card) var(--color-normal-strong);
}
