body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

:root{
    --color-light: white;
    --color-dark: black;
    /* --bg-fighting:;
    --bg-poison:;
    --bg-flying:;
    --bg-ground:; 
    --bg-rock:; 
    --bg-ghost:; 
    --bg-steel:; 
    --bg-dark:; 
    --bg-dragon:; 
    --bg-electric:;
    --bg-fairy:; 
    --bg-psychic:; 
    --bg-ice:; */
    --border-card: 6px solid;
    --bg-grass: lightgreen;
    --bg-fire: #f7a399;
    --bg-water: #0077b6;
    --bg-bug: #55a630;
    --bg-Normal: #5c6b73;
    --color-grass-strong: green;
    --color-fire-strong: #ef6351;
    --color-water-strong: #023e8a;
    --color-bug-strong: #007f5f;
    --color-normal-strong: #253237;
}

.pokedex{
    height: 90vh;
    width: 90vw;
    background-color: #f25c54;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 6px solid #641220;
    border-radius: 14px;
    margin: 5vh 5vw;
    
}

.pokedex__general--search{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1%;
    margin-bottom: 15px;
}

.general__search--input{
    position: relative;
    height: 30px;
    width: 100%;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
}

.general__search--button{
    position: absolute;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
}

.pokedex__general, .pokedex__specify{
    max-height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    border-right: 2px solid black;
}

.pokedex__general--image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36vh;
    width: 100%;
}

.general--image__img{
    height: 90%;
}

.general--image__img:hover{
    animation-duration: 500ms;
    animation-name: zoom;
    animation-fill-mode: both;
}

.pokedex__general--arrows{
    font-size: 60px;
    cursor: default;
}

.general__arrows--next:hover, .general__arrows--previously:hover{
    color: white;
    cursor: pointer;
}

.general__arrows--previously{
    transform: rotate(180deg);
}

#next, #previously{
    margin: 0 20px;
    font-size: 60px;
    background-color: transparent;
    border: 0;
}

.pokedex__general--types{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokedex__general--stats{
    display: grid;
    height: 20%;
    width: 100%;
    grid-template-columns: 40% 60%;
}

.general__stats--span{
    display: flex;
    margin: 6px 0;
}

.pokedex__specify--name{
    text-transform: capitalize;
}

.progress_bar{
    margin: 6px 0;
    background-color: white;
}

.progress_bar > span{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: #fcbf49;
}

#weight, #height{
    font-weight: 900;
}


.grass{
    background-color: var(--bg-grass);
    border: var(--border-card) var(--color-grass-strong);
}

.fire{
    background-color: var(--bg-fire);
    border: var(--border-card) var(--color-fire-strong);
}

.water{
    background-color: var(--bg-water);
    border: var(--border-card) var(--color-water-strong);
}

.bug{
    background-color: var(--bg-bug);
    border: var(--border-card) var(--color-bug-strong)
}

.normal{
    background-color: var(--bg-Normal);
    border: var(--border-card) var(--color-normal-strong);
}


.type{
    padding: 8px 12px;
    border: 0;
    border-radius: 10px;
}

.type.grass{
    background-color: var(--color-grass-strong);
}

.type.poison{
    background-color: violet;
}

.type.fire{
    background-color: var(--color-fire-strong);
}

.type.water{
    background-color: blue;
}

.type.bug{
    color: white;
    background-color: var(--color-bug-strong);
}

.type.normal{
    color: white;
    background-color: var(--color-normal-strong);
}

.type.flying{
    color: black;
    background-color: silver;
}

.type.electric{
    color: black;
    background-color: yellow;
}

.type.ground{
    background-color: brown;
}

.type.psychic{
    background-color: purple;
}

.type.rock{
    background-color: lightslategray;
}

.type.steel{
    color: black;
    background-color: silver;
}

.type.ice{
    color: black;
    background-color: snow;
}


@keyframes zoom{
    from{
        height: 90%;
    }
    to{
        height: 120%;
 
    }
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }