body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

.pokedex{
    height: 90vh;
    width: 90vw;
    background-color: #f25c54;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 6px solid #641220;
    border-radius: 14px;
    margin: 5vh 5vw;
}

.pokedex__general, .pokedex__specify{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    border-right: 2px solid black;
}

.pokedex__general--arrows{
    font-size: 60px;
    cursor: default;
}

.general__arrows--next:hover, .general__arrows--previously:hover{
    color: white;
    cursor: pointer;
}

.general__arrows--previously{
    transform: rotate(180deg);
}

#next, #previously{
    margin: 0 20px;
    font-size: 60px;
    background-color: transparent;
    border: 0;
}

.pokedex__specify--name{
    text-transform: capitalize;
}

#weight, #height{
    font-weight: 900;
}
