body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

:root{
    --color-light: white;
    --color-dark: black;
    /*
    --bg-ghost:; 
    --bg-steel:; 
    --bg-dark:; 
    */
    --border-card: 6px solid;
    --bg-grass: lightgreen;
    --bg-fire: #f7a399;
    --bg-water: #aed9e0;
    --bg-bug: #90be6d;
    --bg-Normal: #f1faee;
    --bg-flying: #edf2f4;
    --bg-poison: #bdb2ff;
    --bg-electric: #fcbf49;
    --bg-ground: #e29578; 
    --bg-fairy: #f1faee; 
    --bg-fighting: #e5989b;
    --bg-psychic: #bdb2ff; 
    --bg-rock: #8d99ae; 
    --bg-ice: snow;
    --bg-dragon: #a01a7d; 
    --color-grass-strong: #2a9d8f;
    --color-fire-strong: #d00000;
    --color-water-strong:  #457b9d;
    --color-bug-strong: #43aa8b;
    --color-normal-strong: #253237;
    --color-flying-strong: #8d99ae;
    --color-poison-strong: #8338ec;
    --color-electric-strong: #f77f00;
    --color-ground-strong: #540b0e;
    --color-fairy-strong: #edf2f4;
    --color-fighting-strong: #ffb4a2;
    --color-psychic-strong: #8900f2;
    --color-rock-strong: #2b2d42;
    --color-ice-strong: #577399; 
    --color-dragon-strong: #7b1e7a;
}

.pokedex{
    height: 90vh;
    width: 90vw;
    background-color: #f25c54;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 6px solid #641220;
    border-radius: 14px;
    margin: 5vh 5vw;
    
}

.pokedex__general--search{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 1%;
    margin-bottom: 15px;
    width: 100%;
}

.general__search--input{
    position: relative;
    height: 30px;
    width: 100%;
    outline: 0;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
}

.general__search--button{
    position: absolute;
    height: 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: 0;
    border: 0;
}

.general__search--button:hover{
    cursor: pointer;
}

.pokedex__general, .pokedex__specify{
    max-height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 5vw;
    border-right: 2px solid black;
}

.pokedex__general--image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36vh;
    width: 100%;
}

.general--image__img{
    height: 100%;
}

.general--image__img:hover{
    animation-duration: 500ms;
    animation-name: zoom;
    animation-fill-mode: both;
}

.pokedex__general--arrows{
    font-size: 60px;
    cursor: default;
}

.general__arrows--next:hover, .general__arrows--previously:hover{
    color: var(--color-light);
    cursor: pointer;
}

.general__arrows--previously{
    transform: rotate(180deg);
}

#next, #previously{
    margin: 0 20px;
    font-size: 60px;
    background-color: transparent;
    border: 0;
}

.pokedex__general--types{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pokedex__general--stats{
    display: grid;
    height: 20%;
    width: 100%;
    grid-template-columns: 40% 60%;
}

.general__stats--span{
    display: flex;
    margin: 6px 0;
}

.pokedex__specify--name{
    text-transform: capitalize;
}

.progress_bar{
    margin: 6px 0;
    background-color: var(--color-light);
}

.progress_bar > span{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    font-size: 1rem;
    background-color: #fcbf49;
}

#weight, #height{
    font-weight: 900;
}

.pokedex__specify--abilities{
    display: flex;
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.specify__abilities--span{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #e9c46a;
}

.grass{
    background-color: var(--bg-grass);
    border: var(--border-card) var(--color-grass-strong);
}

.fire{
    background-color: var(--bg-fire);
    border: var(--border-card) var(--color-fire-strong);
}

.water{
    background-color: var(--bg-water);
    border: var(--border-card) var(--color-water-strong);
}

.bug{
    background-color: var(--bg-bug);
    border: var(--border-card) var(--color-bug-strong)
}

.normal{
    background-color: var(--bg-Normal);
    border: var(--border-card) var(--color-normal-strong);
}

.flying{
    background-color: var(--bg-flying);
    border: var(--border-card) var(--color-flying-strong);
}

.poison{
    background-color: var(--bg-poison);
    border: var(--border-card) var(--color-poison-strong);
}

.electric{
    background-color: var(--bg-electric);
    border: var(--border-card) var(--color-electric-strong);
}

.ground{
    background-color: var(--bg-ground);
    border: var(--border-card) var(--color-ground-strong);
}
.fairy{
    background-color: var(--bg-fairy);
    border: var(--border-card) var(--color-fairy-strong);
}

.fighting{
    background-color: var(--bg-fighting);
    border: var(--border-card) var(--color-fighting-strong);
}

.psychic{
    background-color: var(--bg-psychic);
    border: var(--border-card) var(--color-psychic-strong);
}

.rock{
    background-color: var(--bg-rock);
    border: var(--border-card) var(--color-rock-strong);
}

.ice{
    background-color: var(--bg-ice);
    border: var(--border-card) var(--color-ice-strong);
}

.dragon{
    background-color: var(--bg-dragon);
    border: var(--border-card) var(--color-dragon-strong);
}

.type{
    padding: 8px 12px;
    border: 0;
    margin: 0 10px;
    border-radius: 10px;
    cursor: default;
    text-transform: capitalize;
}

.type.grass{
    background-color: var(--color-grass-strong);
}

.type.poison{
    color: var(--color-light);
    background-color: var(--color-poison-strong);
}

.type.fire{
    color: var(--color-light);
    background-color: var(--color-fire-strong);
}

.type.water{
    color: var(--color-light);
    background-color: var(--color-water-strong);
}

.type.bug{
    color: var(--color-light);
    background-color: var(--color-bug-strong);
}

.type.normal{
    color: var(--color-light);
    background-color: var(--color-normal-strong);
}

.type.flying{
    color: var(--color-dark);
    background-color: var(--color-flying-strong);
}

.type.electric{
    color: var(--color-dark);
    background-color: var(--bg-electric);
}

.type.ground{
    color: var(--color-light);
    background-color: var(--color-ground-strong);
}

.type.psychic{
    color: var(--color-light);
    background-color: var(--color-psychic-strong);
}

.type.rock{
    color: var(--color-light);
    background-color: var(--color-rock-strong);
}

.type.steel{
    color: var(--color-dark);
    background-color: silver;
}

.type.ice{
    color: var(--color-dark);
    background-color: var(--bg-ice);
}

.type.fairy{
    background-color: var(--color-fairy-strong);
}

.type.fighting{
    background-color: var(--color-fighting-strong);
}

.type.dragon{
    color: var(--color-light);
    background-color: var(--bg-dragon);
}

@keyframes zoom{
    from{
        height: 100%;
    }
    to{
        height: 120%;
 
    }
}


.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @media (max-width: 769px){
      .pokedex{
          height: 180vh;
          grid-template-columns: 90vw;
          grid-template-rows: 90vh 90vh;
      }
      .pokedex__general, .pokedex__specify{
          grid-column: 1 / 2;
          border: 0;
      }
      .pokedex__general{
          width: 99%;
          grid-row: 1 / 2;
      }
      .pokedex__specify{
          grid-row: 2 / 3;
      }
  }

  @media (max-width: 365px) and (max-height: 770px){
    .pokedex__general--stats{
        grid-template-columns: 50% 50%;
    }
  }